﻿<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        ChX Health Exchange
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">ChX APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
        </div>
    </form>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            @*<li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-speaker"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li>
                        <a>
                            <span class="label label-success">NEW</span> It is a long established.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-warning">WAR</span> There are many variations.
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="label label-danger">ERR</span> Contrary to popular belief.
                        </a>
                    </li>
                    <li class="summary"><a href="#">See all notifications</a></li>
                </ul>
            </li>*@
            <li class="dropdown" ng-controller="UnreadMessageCtr as messages">
                <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                    <i class="pe-7s-mail"></i>
                    <span ng-show="messages.isActive" class="label label-success">{{messages.messages.length}}</span>
                    <span ng-show="!messages.isActive" class="label label-danger">x</span>
                </a>
                <ul ng-show="messages.isActive" class="dropdown-menu hdropdown animated flipInX">
                    <div class="title">
                        You have {{messages.messages.length}} new messages
                    </div>
                    <li ng-repeat="message in messages.messages">
                        <a ui-sref="message.details({id: message.ID})">
                            {{message.BodySummary}}
                        </a>
                    </li>
                    <li class="summary"><a ui-sref="message.list">See All Messages</a></li>
                </ul>
                <ul ng-show="!messages.isActive" class="dropdown-menu hdropdown animated flipInX">
                    <div class="title">
                        Login to view messages
                    </div>
                </ul>
            </li>

            <li class="dropdown" ng-controller="LoginCtr as vm">
                <a ng-click="vm.toggleLogin()">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
