﻿<div id="navigation">
    @*User Profile*@
    <div class="profile-picture" ng-controller="UserSummaryCtr as user">
        <a ng-show="user.isLoggedIn" ui-sref="user({id:user.ID})">
            <img ng-show="user.ProfilePicture" ng-src="{{user.ProfilePicture}}" class="img-circle m-b" alt="Profile Picture" style="width:180px; height:180px; position:relative; left:-20px;" >
            <img ng-show="!user.ProfilePicture" src="~/Images/user_no_image.png" class="img-circle m-b" alt="Profile Picture" style="width:180px; position:relative; left:-20px;">
        </a>
        <div ng-show="user.isLoggedIn" class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">{{user.FirstName}} {{user.LastName}}</span>

            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <small class="text-muted">{{user.Email}} <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a ui-sref="user({id: user.ID})">Profile</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="user.logout()">Logout</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-extra-bold m-b-xs">
                    {{user.Reputation}}
                </h4>
                <small class="text-muted">Your site reputation.</small>
            </div>
        </div>
        <div ng-show="!user.isLoggedIn" class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Not Logged In</span>

            <div class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <small class="text-muted">Login / Register now<b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li ng-click="user.login()"><a>Login</a></li>
                    <li class="divider"></li>
                    <li ng-click="user.register()"><a>Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    @*End User Profile*@

    <ul class="nav" id="side-menu">
        <li class="@Html.IsSelected(controller: "Dashboard")">
            <a ui-sref="home"> <span class="nav-label">Dashboard</span></a>
        </li>
        <li class="@Html.IsSelected(controller: "Forums")">
            <a ui-sref="forum.list"> <span class="nav-label">Forums</span></a>
        </li>
        <li class="@Html.IsSelected(controller: "Messages")">
            <a ui-sref="message.list"><span class="nav-label">Messages</span> </a>
        </li>
        <li class="@Html.IsSelected(controller: "Account")">
            <a ui-sref="account"><span class="nav-label">Account</span> </a>
        </li>
    </ul>
</div>