﻿<div class="normalHeader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        <a href="@Url.Action("Index")">Home</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Account Management!
            </h2>
            <small>Manage your Account</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Account Management Coming Soon</h3>
                        <p>Functionality to update your account will be available in version 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
