﻿<div class="normalHeader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        <a href="@Url.Action("Index")">Home</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Welcome!
            </h2>
            <small>Collaborative Health Exchange</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Welcome to the Collaborative Health Exchange</h3>
                        <p>Login or Register for free to start browsing the forums and connection with patients and doctors accross the globe!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
