﻿
<div class="normalHeader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <a href="@Url.Action("Index")">Forums</a>
                    </li>
                    <li class="active">
                        <span>Add </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Forms elements
            </h2>
            <small>Examples of various form controls.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div>
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Compose Message</h3>
                        <p>To create a new mess, just address it to another user, add a subject, and create your body using the editor.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Add Message
                    </div>
                    <div class="panel-body">
                        <p class="text-danger" ng-show="message.ErrorMessage">
                            {{message.ErrorMessage}}
                        </p>
                        <div class="form-group">
                            <div class="row">
                                <label for="message-title" class="col-sm-2 control-label">To</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="text" ng-model="message.To" placeholder="Recipient" typeahead="user as user.FormattedName for user in message.searchUsers($viewValue)" typeahead-loading="message.loadingUsers" typeahead-no-results="message.noResults" class="form-control">
                                    <i ng-show="message.loadingUsers" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="message.noResults && message.To && message.To.length">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="message-title" class="col-sm-2 control-label">Subject</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <input id="message-title" type="text" class="form-control" ng-model="message.Subject" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="row">
                                <label for="message-body" class="col-sm-2 control-label">Body</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <summernote id="message-body" height="200" ng-model="message.Body"></summernote>
                                    <span class="help-block m-b-none">This will become the formated body of your post.</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" ng-click="message.save()">Save changes</button>
                                <button class="btn btn-default" type="button" ng-click="message.cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

 
    </div>

</div>
