﻿
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Topic</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Message
            </h2>
        </div>
    </div>
</div>

<div class="content animate-panel">



    <div class="row">
        <div class="col-lg-12">
            @*Message Body*@
            <div class="hpanel forum-box">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>
                                <span class="f"> <span class="text-success">{{messages.Subject}}</span></span>
                            </h4>
                        </div>
                        <div class="col-lg-3 pull-right">
                            <button class="btn btn-sm btn-default pull-right" ng-click="messages.backToInbox()">Back to inbox</button>
                        </div>
                    </div>
                </div>

                @*Message Post*@
                <div ng-repeat="message in messages.Messages" class="panel-body">
                    <div class="media chx-media">
                        <div class="media-image pull-left">
                            <a ui-sref="user({id: message.SendingUser.ID})">
                                <img ng-show="message.SendingUser.ProfilePicture" ng-src="{{message.SendingUser.ProfilePicture}}" alt="Profile Picture">
                                <img ng-show="!message.SendingUser.ProfilePicture" src="~/Images/user_no_image.png" alt="Profile Picture">
                            </a>
                            <div class="author-info">
                                <div class="row">
                                    <a ui-sref="user({id : message.SendingUser.ID})"><strong>{{message.SendingUser.FirstName}} {{message.SendingUser.LastName}}</strong></a><br>
                                </div>
                                <div class="row">
                                    <div class="dropdown">
                                        <button id="message-actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="message-actions">
                                            <li>
                                                <a ng-click="messages.markUnread()">Mark as unread</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a ng-click="messages.remove(message)">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="badges">
                                        <i class="fa fa-star text-warning"></i>
                                        <i class="fa fa-shield text-success"></i>

                                    </div>*@
                            </div>
                        </div>
                        <div class="media-body chx-media-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <a ui-sref="user({id : message.SendingUser.ID})"><h4>To: {{message.ReceivingUser.FirstName}} {{message.ReceivingUser.LastName}}</h4></a><br>
                                </div>
                                <div class="col-lg-8 col-lg-offset-1">
                                    <p class="pull-right text-right">
                                        <span>{{message.CreationDate | date:'MMMM dd, yyyy h:mm a'}}</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="message-body" ng-bind-html="message.BodyHtml">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Message Post*@
            </div>
            @*End Message body*@


        </div>
    </div>

</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div ui-view="message-reply"></div>
        </div>
    </div>
</div>