﻿<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Mailbox</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Mailbox
            </h2>
            <small>Mailbox - Email list.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <ul class="mailbox-list">
                        <li>
                            <a ui-sref="message.add"><i class="fa fa-pencil"></i> Compose</a>
                        </li>
                    </ul>
                    <hr />
                    <ul class="mailbox-list">
                        <li class="active">
                            <a href="#">
                                <span class="pull-right">{{(messages.messages | filter: messages.isUnread).length}}</span>
                                <i class="fa fa-envelope"></i> Inbox
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-paper-plane"></i> Sent</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pencil"></i> Draft</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-trash"></i> Trash</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class="text-center p-xs font-normal">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="Search email in your inbox..."> <span class="input-group-btn">
                                <button type="button" class="btn btn-sm btn-default">
                                    Search
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6 m-b-md">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-eye"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-exclamation"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-tag"></i></button>
                            </div>
                        </div>
                        <div class="col-md-6 mailbox-pagination m-b-md">
                            <div class="btn-group">
                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-mailbox">
                            <tbody>
                                @*Start Message*@
                                <tr ng-repeat="message in messages.messages" ng-class="{ unread: !message.ReceivingUserRead, selected: message.selected }">
                                    <td class="">
                                        <div class="checkbox checkbox-single">
                                            <input type="checkbox" ng-model="message.selected">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td ng-click="messages.selectMessage(message.ID)">
                                        <a>{{message.SendingUser.Name}}</a>
                                    </td>
                                    <td ng-click="messages.selectMessage(message.ID)">
                                        <a>({{message.Subject}}) {{message.BodySummary}}</a>
                                    </td>
                                    @*<td><i class="fa fa-paperclip"></i></td>*@
                                    <td class="text-right mail-date"><i class="fa fa-clock-o"> </i> Last modification: {{message.CreationDate | date:'MMMM dd, yyyy h:mm a'}}</td>
                                </tr>
                                @*End Message*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <i class="fa fa-eye"> </i> {{(messages.messages | filter: messages.isUnread).length}} unread
                </div>
            </div>
        </div>
    </div>

</div>
