﻿

<div class="hpanel">
    <div class="panel-heading">
        Reply
    </div>
    <div class="panel-body">
        <p class="text-danger" ng-show="message.ErrorMessage">
            {{message.ErrorMessage}}
        </p>
        <div class="form-group">
            <div class="row">
                <label for="message-body" class="col-sm-2 control-label">Body</label>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <summernote id="message-body" height="200" ng-model="message.Body"></summernote>
                    <span class="help-block m-b-none">This will become the formated body of your post.</span>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-primary" type="button" ng-click="message.save()">Save changes</button>
            </div>
        </div>
    </div>
</div>
