﻿@model UserAddViewModel
@{
    ViewBag.Title = "Add User";
}



@*Begin Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>Interface</span>
                    </li>
                    <li class="active">
                        <span>Panels design</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Panels design
            </h2>
            <small>Many panels design give you many possibilities.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-8">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Add a new user
                </div>
                <div class="panel-body" ng-app="NewUserApp" ng-controller="NewUser">
                    @using (Html.BeginForm("Add", "Users", FormMethod.Post, new { @class = "form-horizontal", autocomplete = "false" }))
                    {
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelForRequired(m => m.Email, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email), value = "" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelForRequired(m => m.FirstName, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", data_ng_Model = "m.FirstName", placeholder = Html.DisplayNameFor(m => m.FirstName) })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelForRequired(m => m.LastName, new { @class = "col-sm-3 control-label" })
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", data_ng_Model = "m.LastName", placeholder = Html.DisplayNameFor(m => m.LastName) })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="checkbox">
                                    <label>@Html.CheckBoxFor(m => m.Active, new { data_ng_model = "m.Active" }) @Html.DisplayNameFor(m => m.Active)</label>
                                </div>
                            </div>
                        </div>
                        if (ViewContext.Controller.GetLoggedInUser() != null && ViewContext.Controller.GetLoggedInUser().IsSystemAdmin)
                        {
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <div class="checkbox">
                                        <label>@Html.CheckBoxFor(m => m.IsSystemAdmin) @Html.DisplayNameFor(m => m.IsSystemAdmin)</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                            <label>@Html.CheckBoxFor(m => m.ShouldGenerateAccessToken, new { data_ng_model = "m.ShouldGenerateAccessToken" }) @Html.DisplayNameFor(m => m.ShouldGenerateAccessToken)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 tooltip-demo">
                                        <span style="font-size:1.5em;" data-toggle="tooltip" data-placement="top" title="A single use login creates a sendable link with a randomly generated temporary password embedded in it so the account owner can use it to activate their account.">?</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <span class="help-block small">(Recommended for maximum security)</span>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="m.ShouldGenerateAccessToken">
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.Password, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelForRequired(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
                                <div class="col-sm-9">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                @*<button class="btn btn-default" type="submit">Cancel</button>*@
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>

                    }


                </div>
                @*<div class="panel-footer">
                        This is standard panel footer
                    </div>*@
            </div>
        </div>
    </div>
</div>

@if (ViewBag.DidSendEmail != null)
{
    string modalType = ViewBag.DidSendEmail ? "hmodal-success" : "hmodal-warning";

    <div class="modal fade @modalType" id="email-template-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">User Added</h4>
                    <small class="font-bold">Your request has been completed successfully.</small>
                </div>
                <div class="modal-body">
                    <p>
                        @if (ViewBag.DidSendEmail)
                        {
                            <text>
                             The user that you added will be recieving an e-mail confirming their account information shortly which will allow them to sign in and choose a secure password.
                            </text>
                        }
                        else
                        {   
                            <text>
                            The user you have added will need to be notified personnaly and given their temporary password so they can sign in and finish setting up their account.
                            </text>
                        }
                        </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}


@section Scripts {
    <script>
            // Initialize the angular app
        angular.module('NewUserApp', []).value("ViewModel", @(new HtmlString(JsonConvert.SerializeObject(Model ?? new UserAddViewModel()))));
    </script>
    <script src="~/Views/Users/Add.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(window).load(function(){
        $('#email-template-modal').modal('show');
    });
</script>
}