﻿@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Forgot Password";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel animated-panel zoomIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <img src="~/Images/nextAIMS.png" class="animated-panel rollIn" />
                            <span style="padding-left:40px">
                                Next Generation AIMS - Today
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center m-b-md">
                <h3>I Forgot My Password</h3>
                <small>Enter your username below. You will receive an e-mail with instructions about how to reset your password.</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    
                    @if (Model != null && Model.ShowConfirmationMessage)
                    {
                        <div class="text-center m-b-md">
                            If an account exists for the submitted username, an e-mail will be arriving at the associated e-mail address shortly
                        </div>
                    }
                    else
                    {
                        using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "loginForm", role = "form" }))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                                <span class="help-block small">@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })</span>

                            </div>
                            <button class="btn btn-success btn-block">Submit</button>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Copyright 2015<strong> nextAIMS</strong>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#Username").focus();
    });
</script>