﻿<div class="row">
    <div class="col-md-12">
        <div class="text-center m-b-md">
        </div>
        <div class="hpanel animated-panel zoomIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <img src="~/Images/nextAIMS.png" class="animated-panel rollIn" />
                        <span style="padding-left:40px">
                            Next Generation AIMS - Today
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="hpanel">
            <div class="panel-body">
                <p class="text-danger" ng-show="vm.InfoMessage">
                    {{vm.InfoMessage}}
                </p>
                <p class="text-danger" ng-show="vm.ErrorMessage">
                    {{vm.ErrorMessage}}
                </p>
                <div class="form-group">
                    <label for="Email" class="control-label">E-mail</label>
                    <input ng-model="vm.email" type="text" id="Email" class="form-control" placeholder="E-mail" />
                </div>
                <div class="form-group">
                    <label for="Password" class="control-label">Password</label>
                    <input ng-model="vm.password" type="password" id="Password" class="form-control" placeholder="Password" />
                </div>
                <div class="checkbox">
                    <input ng-model="vm.rememberMe" id="RememberMe" type="checkbox" class="i-checks" />
                    <label for="RememberMe" class="control-label">Remember me</label>
                    <p class="help-block small">(if this is a private computer)</p>
                </div>
                <button type="button" class="btn btn-success btn-block" ng-click="vm.login()">Login</button>
                <button type="button" class="btn btn-default btn-block" ng-click="vm.close()">Close</button>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default btn-block" ng-click="vm.register()">Not a member? Register here.</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

