﻿@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
            </div>
            <div class="hpanel animated-panel zoomIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-body">
                            <img src="~/Images/nextAIMS.png" class="animated-panel rollIn" />
                            <span style="padding-left:40px">
                                Next Generation AIMS - Today
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id = "loginForm", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Username, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                            <span class="help-block small">@Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                            <span class="help-block small">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</span>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks" })
                            @Html.LabelFor(m => m.RememberMe)
                            <p class="help-block small">(if this is a private computer)</p>
                        </div>
                        <a class="btn btn-success btn-block" href="@Url.Action("Index", "Home")">Login</a>
                        <a class="btn btn-default btn-block" href="@Url.Action("ForgotPassword")">Forgot Password?</a>
                    }
                </div>
            </div>
                </div>
            </div>
    <div class="row">
        <div class="col-md-12 text-center">
            Copyright 2015<strong> nextAIMS</strong>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#Username").focus();
    });
</script>
