﻿
<div class="row">
    <div class="col-md-12">
        <div class="text-center m-b-md">
            <h3>Registration</h3>
            <small>Sign up to join the Patient/Provider forum and messaging system. </small>
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <p class="text-danger" ng-show="vm.ErrorMessage">
                    {{vm.ErrorMessage}}
                </p>
                <div class="row">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="Email" class="control-label">Email Address</label>
                            <input type="text" id="Email" ng-model="vm.email" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="FirstName" class="control-label">First Name</label>
                            <input type="text" id="FirstName" ng-model="vm.firstname" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="Lastname" class="control-label">Last Name</label>
                            <input type="text" id="Lastname" ng-model="vm.lastname" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="Password" class="control-label">Password</label>
                            <input type="password" id="Password" ng-model="vm.password" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="ConfirmPassword" class="control-label">Confirm Password</label>
                            <input type="password" id="ConfirmPassword" ng-model="vm.confirmPassword" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                    accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                Select File
                            </button>
                            {{vm.filename}} <a ng-show="vm.filename" ng-click="vm.clearFile()">(Clear)</a>
                            <br />
                            <span class="help-block m-b-none">Your profile picture will be rendered as a square image.</span>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-success" ng-disabled="vm.wait" ng-click="vm.register()">Register</button>
                    <button class="btn btn-default" ng-click="vm.close()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
