﻿
<div class="hpanel">
    <div class="panel-heading">
        Add Comment
    </div>
    <div class="panel-body">
        <p class="text-danger" ng-show="comment.ErrorMessage">
            {{comment.ErrorMessage}}
        </p>
        <div class="form-group">
            <div class="row">
                <label for="forum-body" class="col-sm-2 control-label">Body</label>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <summernote id="comment-body" height="200" ng-model="comment.Body"></summernote>
                    <span class="help-block m-b-none">The formatted text will be the body of your comment.</span>
                </div>
            </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button class="btn btn-primary" type="button" ng-click="comment.save()">Save changes</button>
            </div>
        </div>
    </div>
</div>

