﻿<div class="panel-body" ng-repeat="comment in comments.comments" ng-show="comments.comments.length">
    <div class="media chx-media">
        <div class="media-image pull-left">
            <a ui-sref="user({id:comment.User.ID})">
                <img ng-show="comment.User.ProfilePicture" ng-src="{{comment.User.ProfilePicture}}" alt="Profile Picture">
                <img ng-show="!comment.User.ProfilePicture" src="~/Images/user_no_image.png" alt="Profile Picture">
            </a>
            <div class="author-info">
                <div class="row">
                    <a ui-sref="user({id : comment.User.ID})"><strong>{{comment.User.FirstName}} {{comment.User.LastName}}</strong></a><br>
                    {{comment.User.DateJoined | date:'MMMM dd, yyyy'}}
                </div>
                <div class="row">
                    <div class="dropdown" ng-show="comment.isOwner">
                        <button id="forum-actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="forum-actions">
                            <li>
                                <a ng-click="comments.edit(comment)">Edit</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="comments.remove(comment)">Remove</a>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="badges">
                    <i class="fa fa-star text-warning"></i>
                    <i class="fa fa-shield text-success"></i>
                </div>*@
            </div>
        </div>
        <div class="media-body chx-media-body">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1 pull-right">
                    <p class="pull-right text-right">
                        <span ng-show="!comment.Edited">{{comment.CreationDate | date:'MMMM dd, yyyy h:mm a'}}</span>
                        <span ng-show="comment.Edited" data-toggle="tooltip" data-placement="bottom" title="Edited on: {{comment.EditDate | date:'MMM dd, yyyy h:mm a'}}">{{comment.CreationDate | date:'MMMM dd, yyyy h:mm a'}}*</span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="comment-body" ng-bind-html="comment.BodyHtml">
                    </div>
                </div>
            </div>
            <hr class="forum-header" />
            <div class="pull-right row">
                <div class="col-sm-12">
                    <p>
                        {{(comment.CommentVotes | filter: comments.voteFilter).length}} out of {{comment.CommentVotes.length}} found this post helpful.
                    </p>
                    <div ng-hide="comment.isOwner">
                        <p ng-show="!comment.CommentVote" class="pull-right">
                            <span>Was this post helpful to you?</span> <br /><span class="pull-right"><span ng-click="comments.castVote(comment, true)"><a>Yes</a></span> <span ng-click="comments.castVote(comment, false)"><a>No</a></span></span>
                        </p>
                        <p ng-show="comment.CommentVote" class="pull-right">
                            <span>Thank you for your feedback.</span> <span ng-click="comments.removeVote(comment)"><a>(Undo)</a></span>
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-body" ng-show="!comments.comments.length">
    <h5>Be the first to add a comment.</h5>    
</div>