﻿<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Topic</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Forum
            </h2>
            <small>Topic for forum page.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">



    <div class="row">
        <div class="col-lg-12">
            @*Forum Body*@
            <div class="hpanel forum-box">

                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>
                                <span class="f"> <span class="text-success">General topics</span></span>
                            </h4>
                        </div>
                        <div class="col-lg-3 pull-right">
                            <button class="btn btn-sm btn-default pull-right" ng-click="forum.backToList()">Back to forums</button>
                        </div>
                    </div>
                </div>

                @*Forum Post*@
                <div class="panel-body">
                    <div class="media chx-media">
                        <div class="media-image pull-left">
                            <a ui-sref="user({id: forum.User.ID})">
                                <img ng-show="forum.User.ProfilePicture" ng-src="{{forum.User.ProfilePicture}}" alt="Profile Picture">
                                <img ng-show="!forum.User.ProfilePicture" src="~/Images/user_no_image.png" alt="Profile Picture">
                            </a>
                            <div class="author-info">
                                <div class="row">
                                    <a ui-sref="user({id : forum.User.ID})"><strong>{{forum.User.FirstName}} {{forum.User.LastName}}</strong></a><br>
                                    {{forum.User.DateJoined | date:'MMMM dd, yyyy'}}
                                </div>
                                <div class="row">
                                    <div class="dropdown" ng-show="forum.isOwner">
                                        <button id="forum-actions" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Actions
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="forum-actions">
                                            <li>
                                                <a ng-click="forum.edit()">Edit</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a ng-click="forum.remove()">Remove</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                @*<div class="badges">
                                    <i class="fa fa-star text-warning"></i>
                                    <i class="fa fa-shield text-success"></i>

                                </div>*@
                            </div>
                        </div>
                        <div class="media-body chx-media-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h5>{{forum.Title}}</h5>
                                </div>
                                <div class="col-lg-4 col-lg-offset-2">
                                    <p class="pull-right text-right">
                                        <span ng-show="!forum.Edited">{{forum.CreationDate | date:'MMMM dd, yyyy h:mm a'}}</span>
                                        <span ng-show="forum.Edited" data-toggle="tooltip" data-placement="bottom" title="Edited on: {{forum.EditDate | date:'MMM dd, yyyy h:mm a'}}">{{forum.CreationDate | date:'MMMM dd, yyyy h:mm a'}}*</span>
                                    </p>
                                </div>
                            </div>
                            <hr class="forum-header" />
                            <div class="row">
                                <div class="col-sm-12">
                                    <p ng-show="forum.ErrorMessage" class="text-danger">
                                        {{forum.ErrorMessage}}
                                    </p>
                                    <div class="forum-body" ng-bind-html="forum.BodyHtml">
                                    </div>
                                </div>
                            </div>
                            <hr class="forum-header" />
                            <div class="pull-right row">
                                <div class="col-sm-12">
                                    <p>
                                        {{(forum.ForumPostVotes | filter: forum.voteFilter).length}} out of {{forum.ForumPostVotes.length}} found this post helpful.
                                    </p>
                                    <div ng-hide="forum.isOwner">
                                        <p ng-show="!forum.ForumPostVote" class="pull-right">
                                            <span>Was this post helpful to you?</span> <br /><span class="pull-right"><span ng-click="forum.castVote(true)"><a>Yes</a></span> <span ng-click="forum.castVote(false)"><a>No</a></span></span>
                                        </p>
                                        <p ng-show="forum.ForumPostVote" class="pull-right">
                                            <span>Thank you for your feedback.</span> <span ng-click="forum.removeVote()"><a>(Undo)</a></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Forum Post*@
                @*Comments*@
                <div class="hpanel">
                    <div class="panel-heading">
                        <h5>Comments</h5>
                    </div>
                    <div ui-view="comments"></div>
                </div>
                
                @*End Comments*@

            </div>
            @*End Forum body*@


        </div>
    </div>
    
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div ui-view="comments-add"></div>
        </div>
    </div>
</div>
