﻿
<div class="normalHeader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <a href="@Url.Action("Index")">Forums</a>
                    </li>
                    <li class="active">
                        <span>Add </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Forms elements
            </h2>
            <small>Examples of various form controls.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div>
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <div class="hpanel">
                    <div class="panel-body">
                        <h3>Edit Forum</h3>
                        <p>Edit the forum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-10 col-lg-offset-1">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Edit Forum
                    </div>
                    <div class="panel-body">
                        <p class="text-danger" ng-show="forum.ErrorMessage">
                            {{forum.ErrorMessage}}
                        </p>
                        <div class="form-group">
                            <div class="row">
                                <label for="forum-title" class="col-sm-2 control-label">Title</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <input id="forum-title" type="text" class="form-control" ng-model="forum.Title" />
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="row">
                                <label for="forum-body" class="col-sm-2 control-label">Body</label>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <summernote id="forum-body" height="200" ng-model="forum.Body"></summernote>
                                    <span class="help-block m-b-none">This editor allows for formatted text using the editor above.</span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" ng-click="forum.save()">Save changes</button>
                                <button class="btn btn-default" type="button" ng-click="forum.cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

 
    </div>

</div>

@section Styles {
}

@section Scripts {

    <script type="text/javascript">

        $(function () {

            // Initialize summernote plugin
            $('.summernote').summernote({
                height: 200

            });

            var sHTML = $('.summernote').code();

            console.log(sHTML);

        });
    </script>
}