﻿
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li>
                        <span>App views</span>
                    </li>
                    <li class="active">
                        <span>Forum</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Forum
            </h2>
            <small>Topics board for forum page.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">



    <div class="row">
        <div class="col-lg-12">

            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-muted small pull-right text-right">
                        Proin eu tempus tortor, vitae bibendum est. Nam placerat hendrerit rhoncus<br />
                        Last modyfication by: <span class="font-bold">Mike Smith</span>
                        21.03.2015, 06:45 pm
                    </div>
                    
                    <div class="form-inline">
                        Search topic: <input class="form-control" type="text">
                    </div>
                </div>

            </div>

            @*Forum topic group*@
            <div class="hpanel forum-box">
                <div class="panel-heading">
                    @*Topic group title*@
                    <div class="row">
                        <div class="col-lg-8">
                            <h4>
                                <span class="f"> <span class="text-success">General topics</span></span>
                            </h4>
                        </div>
                        <div class="col-lg-3 pull-right">
                            <button type="button" class="btn btn-sm btn-default pull-right" ui-sref="forum.add">Add Forum</button>
                        </div>
                    </div>
                    @*End topic group title*@
                </div>
                
                @*Forum for topic*@
                <div class="panel-body" ng-repeat="forum in forums.forums">
                    <div class="row">
                        <div class="col-md-9 forum-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<span class="label label-success pull-left">Special</span>*@
                                    <a ui-sref="forum.details({id : forum.ID})"><h4> {{forum.Title}} </h4></a>
                                    <div class="desc"> {{forum.BodySummary}} </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="pull-left">
                                        <a ui-sref="user({id : forum.User.ID})">
                                            <i class="fa fa-user"> </i> {{forum.User.Name}}
                                        </a>
                                    </span>
                                    <span class="pull-right">
                                        <i class="fa fa-clock-o"> </i> Last modification: <br />
                                        <span ng-show="!forum.Edited">{{forum.CreationDate | date:'MMMM dd, yyyy h:mm a'}}</span>
                                        <span ng-show="forum.Edited" data-toggle="tooltip" data-placement="top" title="Edited on: {{forum.EditDate | date:'MMM dd, yyyy h:mm a'}}">{{forum.CreationDate | date:'MMMM dd, yyyy h:mm a'}}*</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number"> {{forum.ScorePercent}}%&nbsp;({{forum.VotesCount}}) </span>
                            <small>Helpfulness</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number"> {{forum.Comments}} </span>
                            <small>Posts</small>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="number"> {{forum.Views}} </span>
                            <small>Views</small>
                        </div>
                    </div>
                </div>
                @*End forum for topic*@
            </div>
            @*End Forum topic group*@

        </div>
    </div>

</div>
